<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaos.dao.Autoinc2Mapper" >
  <resultMap id="BaseResultMap" type="com.chaos.model.Autoinc2" >
    <id column="col" property="col" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from autoinc2
    where col = #{col,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaos.model.Autoinc2" >
    insert into autoinc2 (col)
    values (#{col,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select col
    from autoinc2
  </select>
</mapper>